@using ControleDespesas.ViewModels
@model IEnumerable<TransacaoIndexViewModel>

@{
    ViewData["Title"] = "Transações";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2">@ViewData["Title"]</h1>
    <a asp-action="Create" class="btn btn-success" title="Adicionar nova transação">Nova Transação</a>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-custom-green">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Descricao)</th>
            <th>@Html.DisplayNameFor(model => model.Valor)</th>
            <th>@Html.DisplayNameFor(model => model.Tipo)</th>
            <th>@Html.DisplayNameFor(model => model.Data)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                <td>@Html.DisplayFor(modelItem => item.Data)</td>
            </tr>
        }
    </tbody>
</table>